body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: #f5f5f5;
}

.container {
    display: grid;
    grid-template-columns:1fr;
    grid-template-areas:
        "globalActions"
        "newTodo"
        ".";
    width: 100%;
    padding: 20px;
    gap: 25px 40px;
}
.container > .global-actions {
    display: inline-block;
    grid-area: globalActions;
}
.container > .global-actions > .action {
    width: 100%;
    background-color: red;
    color: #fff;
}

    .container > .form {
        display: inline-block;
        grid-area: newTodo;
    }

    .container > .form > fieldset {
        display: inline-block;
        border: none;
        width: 100%;
        margin-bottom: 15px;
    }

    .container > .form > fieldset .label {
        display: inline-block;
        width: 100%;
    }

    .container > .form > fieldset > textarea {
        width: 100%;
        display: inline-block;
        min-height: 95px;
        height: 95px;
        resize: vertical;
        padding: 10px;
        line-height: 20px;
        max-height: 270px;
        font-size: 24px;
    }

    .container > .form > fieldset > input {
        width: 100%;
        display: inline-block;
        font-size: 24px;
    }

    .container > .form > .actions {
        width: 100%;
        display: inline-block;
    }


    .container > .item {
        display: inline-block;
        padding: 20px 20px 10px;
        background-color:#fff;
        border-radius: 8px;
        box-shadow: 0 2px 8px #0005;
        position: relative;
    }
    .container > .item > .status{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 20px;
        background-color: #ccc;
    }

    .container > .item > .status.todo {
        background-color:yellowgreen;
        text-align: center;
    }

    .container > .item > .status.in-pr {
        background-color: #36f;
        text-align: center;
    }

    .container > .item > .status.done {
        background-color:yellow;
        text-align: center;
    }
.container > .item > .description {
        display: inline-block;
        width: 100%;
        font-size: 22px;
        line-height: 26px;
    }
.container > .item > .deadline {
        display: inline-block;
        width: 100%;
    }
    
    .container > .item > .actions {
        display: inline-block;
        margin: 10px 10px 0 0;
        font-size: 14px;
        text-decoration: none;
        line-height: 20px;
        width: 20%;
        
    }
    .container > .item > .actions > .action {
        background-color: blue;
        color: #fff;
        cursor: pointer;
    }

    .form > fieldset > input {
        display: inline-block;
        width: 100%;
        padding: 10px;
        line-height: 20px;
    }

    .form > .actions > .btn {
        display: inline-block;
        padding: 10px 15px;
        margin-right: 20px;
        

    }
    .form > .actions > .btn.add{
        background-color: blue;
        color: white;
    }
    .form > .actions > .btn.clear{
        background-color: blue;
        color: white;
    }


    @media ( min-width: 500px ) {
        .container {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "globalActions globalActions"
            "newTodo newTodo"
            ". .";
        }
    }
    @media ( min-width: 900px ) {
        .container {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
            "globalActions globalActions globalActions"
            "newTodo newTodo newTodo"
            ". . .";
        }
    }
    @media ( min-width: 1300px ) {
        .container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "globalActions globalActions globalActions globalActions"
            "newTodo newTodo newTodo newTodo"
            ". . . .";
        }
    }